$banner_height: 35px;
$theme_blue: rgb(59, 89, 152);
$theme_bg: rgb(237, 240, 245);
$shadow_color: rgb(196, 196, 196);

body {
    background-color: $theme_bg;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
    text-decoration: none !important;
}

.banner {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: $banner_height;
    z-index: 10;
    background-color: $theme_blue;
    color: white;
    font-size: 13px;
    padding-top: 5px;
    vertical-align: middle;
    /* box-shadow: 0px 2px 3px grey; */

    .banner-left {
        display: table-cell;
        font-size: 1.2em !important;
        width: 50%;
        padding-left: 10px;
        text-align: left;
        vertical-align: middle;
        float: left;
    }

    .banner-right {
        display: table-cell;
        width: 50%;
        text-align: right;
        float: right;
        padding-right: 15px;
    }
}

.cell-div {
     display: table-cell;
     float: right;
     text-align: right;
     margin-right: 5px;
     cursor: pointer;
     padding-top: 2px;
     padding-bottom: 2px;
     padding-left: 2px;
     padding-right: 2px;
     color: white;
     border: 1px solid white;
     
     a {
         text-decoration: none;
          color: white;
     }
}

hr, .tail {
    color: grey;
    text-align: center;
}

.tail {
    margin-bottom: 10px + $banner_height;
}

.search-panel {
    padding-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
    text-align: center;
    
    input {
        display: table-cell;
        width: 90%;
        margin-right: 5px;
    }
}

.panels {
    margin-left: 5%;
    margin-right: 5%;

    .panel {
        box-shadow: 2px 2px 5px $shadow_color;
        margin-bottom: 10px !important;
    }
}

img {
    max-height: 50%;
    max-width: 50%;
}

.cell-table {
}

.text-cell {
    width: 60%;
    vertical-align: top;
}

.img-cell {
    width: 40%;
    vertical-align: middle;
    text-align: center;
}

.text-cell, .img-cell {
     display: table-cell;
}
